footer {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: 1px solid#CCCCCC;

}