.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  width: 100%;
  font-size: 30px;
}

.places article {
  width: 390px;
  /*box-sizing: border-box; */
  padding: 20px;
  margin: 20px;
  border: 1px solid #FF5A5F;
  border-radius: 4px;

  position: relative;
}

.places h2 {
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

/*TASK 8*/
.price_by_night {
  color: #FF5A5F;
  border: 4px solid #FF5A5F;
  border-radius: 100%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 3%;
  right: 3%;
}

.information {
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  justify-content: center;
}

.max_guest {
  width: 100px;
  background-image: url(../images/icon_guest.png);
  background-repeat: no-repeat;
  height: 100px;
  background-position: center top;
  line-height: 8em;
  text-align: center;

}

.number_rooms {
  width: 100px;
  background-image: url(../images/icon_bed.png);
  background-repeat: no-repeat;
  height: 100px;
  background-position: center top;
  line-height: 8em;
  text-align: center;

}

.number_bathrooms {
  width: 100px;
  background-image: url(../images/icon_bath.png);
  background-repeat: no-repeat;
  height: 100px;
  background-position: center top;
  line-height: 8em;
  text-align: center;

}

.user {
  margin: 20px auto;
}